/* header */
.header .loginbar{width:100%;background:#2b2b2b;border-top:3px solid #00925f;}
.loginbar .left_log{float:left;width:171px;text-align:right;margin-left:77px;}
.left_log a{display:block;font:11px/37px '微软雅黑';height:37px;color:#00925f;font-weight:bold;position:relative;}
.left_log a i{width:20px;height:16px;background:url(../img/icons.png) no-repeat -266px -3px;position:absolute;left:0;top:10px;}
.left_log a b{width:15px;height:20px;background:url(../img/icons.png) no-repeat -318px -2px;position:absolute;left:35px;top:10px;}
.loginbar .right_log{float:right;width:390px;margin-right:76px;}
.right_log li{float:left;height:37px;position:relative;}
.right_log li a{display:block;font-size:12px;color:#b2b2b2;padding:0 15px;border-right:1px solid #474747;margin-top:12px;}
.right_log li a:hover{color:#00925f;}
.right_log li .deng{padding:0 42px;}
.right_log li i{display:block;width:19px;height:16px;background:url(../img/icons.png) no-repeat 0 -1014px;position:absolute;left:15px;top:12px;}

.header .nav{width:100%;border-bottom:1px solid #dfdfdf;}
.nav .left_nav{float:left;}
.left_nav .logo{display:block;width:168px;height:26px;font-size:12px;text-indent:-999em;background:url(../img/logo.png) no-repeat 0 0;margin:32px 0 0 76px;}
.nav .right_nav{float:right; width:615px;margin-right:77px;}
.nav .right_nav li{float:left;height:84px;}
.nav .right_nav li a{display:block;padding:0 20px;font-size:12px;color:#2b2b2b;line-height:84px;}
.nav .right_nav a:hover{color:#00925f;}
.header .star{width:100%;overflow:hidden;}
.star .pc{display:block;width:1180px;margin:0 auto;}
.star img{height:630px;margin-left:-370px;}
/* header */

/* content */
	
.content .hot_wrap{width:100%;border-top:1px solid #b2b2b2;background:#f2f2f2;}	
.content .hot{width:1180px;margin:0 auto;}
.hot .hot_top{width:100%;padding-top:39px;}
.hot_top .botm{width:90px;height:13px;border-bottom:1px solid #dadada;margin:0 auto;}
.hot_top .star{font-size:28px;color:#2b2b2b;margin-top:12px;text-align:center;}
.hot_top .fot{width:242px;margin:0 auto;}
.hot_top .wen{width:163px;float:left;font-size:16px;color:#878787;margin:17px 0 42px 0;}
.hot_top .thing{float:left;font-size:12px;color:#4ca57c;margin:16px 0 41px 15px;}

.hot ul{width:1190px;margin:0 auto;margin-right:}
.hot li{float:left;width:280px;padding:0 10px 60px 9px;border-right:1px solid #dfdfdf;}
.hot li .smile_wrap{width:280px;border-bottom:5px solid #dfdfdf;}
.smile_wrap .pic_1{display:block;width:280px;}
.hot li .n3{width:280px;font-size:17px;font-weight:bold;height:47px;line-height:47px;text-align:center;}
.hot li .camera{width:280px;font-size:12px;text-align:center;margin-bottom:15px;color:#b4b4c5;}
.hot .shu{float:left;font-size:12px;color:#00925f;margin-bottom:29px;margin-left:84px;}
.hot .foot a{float:left;font-size:12px;color:#00925f;margin-bottom:28px;margin-left:9px}
.hot ul .smile{border-right:none 0;padding-right:0;float:left;}


.content .part_wrap{width:100%;background:#f6f6f6;border-bottom:3px solid #d9d9d9;}
.content .part{width:1180px;margin:0 auto;}
.top .hot_top{width:386px;margin:0 auto;}
.hot_top .line{padding-top:44px;}
.part .fot{margin-bottom:46px;width:90px;}
.part .wares{width:1180px;margin:0 auto;}
.wares .left_ware{float:left;width:580px;}
.top_left .l_top{width:280px;float:left;background:#fff;border-bottom:5px solid #e1e1e1;}
.l_top .barney{display:block;width:280px;height:454px;margin-bottom:12px;}
.l_top .win{font-size:14px;color:#858585;heigt:36px;line-height:36px;text-align:center;}
.l_top .find{font-size:21px;color:#696969;text-align:center;margin-bottom:14px;}
.l_top .price{font-size:14px;color:#17875f;text-align:center;margin-bottom:35px;}
.top_left{margin-bottom:20px;}
.top_left .r_top{float:right;}
.r_top .title{border:5px solid #eaeaea;width:280px;background:#fff;}
.title .guan{width:210px;font-size:12px;color:#576267;height:58px;line-height:58px;text-align:center;border-bottom:1px solid #e6e6e6;margin:0 auto;}
.title ul{width:210px;margin:0 auto;border-bottom:1px solid #e6e6e6;}
ul .pj{width:95px;float:left;}
.pj a{font-size:12px;color:#b2b2b2;}
.pj a:hover{color:#00925f;}
.pj .erji{display:block;position:relative;padding:31px 36px 23px 35px;padding-left:34px;}
.pj .erji i{width:16px;height:16px;background:url(../img/icons.png) no-repeat -135px -356px;position:absolute;left:11px;top:28px;}
.pj .erji:hover i{width:16px;height:16px;background:url(../img/icons.png) no-repeat -374px -356px;}
.pj .move{position:relative;display:block;padding:0 24px 23px 35px;padding-left:34px;}
.pj .move b{width:12px;height:18px;background:url(../img/icons.png) no-repeat -137px -393px;position:absolute;left:13px;top:0px;}
.pj .move:hover b{width:12px;height:18px;background:url(../img/icons.png) no-repeat -377px -393px;}
.pj .bao{position:relative;display:block;padding:0 36px 40px 35px;padding-left:34px;}
.pj .bao b{width:13px;height:17px;background:url(../img/icons.png) no-repeat -137px -430px;position:absolute;left:13px;top:0px;}
.pj .bao:hover b{background:url(../img/icons.png) no-repeat -376px -430px;}
.title .both{display:block;font-size:12px;color:#00925f;text-align:center;margin:23px 0 26px 0;position:relative;}
.title .both i{width:13px;height:13px;background:url(../img/icons.png) no-repeat -176px -1014px;position:absolute;right:102px;top:2px;}
.r_top .fotd{border-bottom:5px solid #e1e1e1;margin-top:10px;background:#fff;}
.r_top .fotd img{width:280px;height:200px;}
.fotd .shipei{fint-size:17px;color:#575757;font-weight:bolod;margin-bottom:12px;text-align:center;}
.fotd .yuan{font-size:12px;color:#058d5d;text-align:center;margin-bottom:30px;}
.fott_left{background:#fff;border-bottom:5px solid #e1e1e1;margin-bottom:55px;}
.fott_left a{float:left;width:344px;height:271px;}
.fott_left .r_fott{float:right;width:236px;}
.r_fott .gao{font-size:14px;color:#888;margin:97px 0 7px 0;text-align:center;}
.r_fott .zhuang{font-size:21px;color:#555;font-weight:bold;margin-bottom:14px;text-align:center;}
.r_fott .er{font-size:12px;color:#00995f;margin-bottom:105px;text-align:center;}
.wares .right_ware{float:left;width:580px;margin-left:20px;}

.right_ware .shan{wigdth:580px;border-bottom:5px solid #e1e1e1;background:#fff;margin-bottom:20px;}
.shan  .den{float:left;width:232px;height:275px;}
.shan .r_ware{padding-top:111px;float:left;}
.shan .r_ware .zui{font-size:12px;color:#6b6b6b;margin-bottom:21px;text-align:center;}
.shan .r_ware .da{font-size:26px;color:#6b6b6b;font-weight:bold;margin-bottom:104px;text-align:left;}
.right_ware{width:580px;}
.right_ware .r_top .ftd{margin-top:0;}
.right_ware .wuba{margin-bottom:39px;}
.right_ware .fotr{margin-top:20px;}

.content .world_wrap{width:100%;background:#eaeaea;}
.world_wrap .world{width:1180px;margin:0 auto;}
.world .fot{margin-bottom:40px;width:90px;}
.world .shop{width:800px;float:left;}
.shop li{float:left;margin-right:20px;border-bottom:5px solid #d9dcda;}
.shop li a{display:block;width:380px;height:265px;}
.shop li .ka{margin-top:19px;}
.shop li .self{margin-top:19px;}

.banner{padding-bottom:60px;} 
.banner .weibo{float:left;width:380px;position:relative;}
.weibo .left_wei{float:left;}
.left_wei .wen{display:block;width:190px;font-size:17px;color:#a7a7a7;text-align:center;height:50px;line-height:50px;background:#dadada;}
.left_wei .xin{width:380px;padding-top:50px;position:absolute;left:0;top:50px;background:#fff;}
.xin .ming{display:block;width:320px;background:#f6f6f6;margin:8px 30px 8px 30px;}
.xin .ming img{width:100px;height:90px;float:left;}
.xin .ming p{font-size:12px;color:#838383;width:190px;margin:19px 14px 0 15px;line-height:19px;float:left;}
.xin .top{margin-bottom:60px;}
.weibo .left_wei:hover .wen{height:49px;border-top:1px solid #00925f;background:#fff;}
.weibo .right_wei{float:right;;position:relative;}
.right_wei .bo{display:block;width:190px;font-size:17px;color:#a7a7a7;text-align:center;height:50px;line-height:50px;background:#dadada;}
.right_wei .ge{width:380px;padding-top:30px;background:#fff;display:none;position:absolute;right:0;top:49px;z-index:1}
.weibo .right_wei:hover .bo{height:48px;border-top:1px solid #00925f;background:#fff;}
.weibo .right_wei:hover .ge{display:block;}
.weibo:hover .xin{display:none;}
.weibo .left_wei:hover .xin{display:block;}
/* content */


/* footer */
.foot .column_wrap{width:100%;background:#fff;}
.column_wrap .column{width:1180px;margin:0 auto;border-bottom:1px solid #eaeaea;}
.column .service a{display:block;width:1180px;height:118px;background:url(../img/icons.png) no-repeat -244px -540px;margin:0 aoto;}
.column ul{width:1180px;margin:0 auto;padding-top:30px;}
.submenu li{margin:0 60px;float:left;}
.submenu li p{font-size:12px;color:#373737;font-weight:bold;margin:0 10px 22px 0;}
.submenu li a{display:block;font-size:12px;color:#838383;margin-bottom:17px;}
.submenu li .about{margin-bottom:109px;}
.submenu .xin{padding-left:24px;position:relative;}
.submenu .xin i{display:block;width:20px;height:17px;background:url(../img/icons.png) no-repeat -1px -882px;position:absolute;left:0;top:0;}
.submenu .we{position:relative;padding-left:24px;}
.submenu .we b{display:block;width:15px;height:20px;background:url(../img/icons.png) no-repeat -3px -910px;position:absolute;left:0;top:0;}
.submenu .wo{position:relative;padding-left:24px;}
.submenu .wo b{display:block;width:16px;height:16px;background:url(../img/icons.png) no-repeat -3px -941px;position:absolute;left:0;top:0;}
.submenu .men{position:relative;padding-left:24px;}
.submenu .men b{display:block;width:20px;height:18px;background:url(../img/icons.png) no-repeat -3px -854px;position:absolute;left:0;top:0;}
.submenu .cell {margin-left:56px;margin-right:0;float:right;}
.cell .hua img{width:36px;height:36px;background:url(../img/bd_2.png) no-repeat 0 15px;float:left;}
.cell .kefu{float:left;}
.cell .kefu .a_1{display:block;font-size:20px;color:#409f73;margin:0 0 12px 21px;}
.cell .kefu .p_2{font-size:12px;color:#576267;margin-left:21px;}

.foot .copyright_wrap{width:100%;background:#2b2b2b;}
.copyright_wrap .copyright{height:70px;border-top:5px solid #000;}
.copyright p{float:left;font-size:12px;color:#828282;margin-top:28px;width:420px;background:url(../img/bd_5.png) no-repeat 120px 1px;position:relative;margin-left:76px;padding-left:136px;}
.copyright p i{width:100px;height:16px;background:url(../img/bd_4.png) no-repeat 0 0;position:absolute;left:0;top:0;}
.copyright .copyright_r{float:right;width:440px;padding-top:28px;margin-right:56px;}
.copyright_r li{float:left;}
.copyright_r a{display:block;font-size:12px;color:#e2e2e2;padding:0 20px;}


